<%= form_for @article do |f| %>
    <% if @article.errors.any? %>
        <%= render 'common/errors', object: @article %>
    <% end %>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls floating-label-form-group-with-value">
        <%= f.text_area :text, class: 'form-control', placeholder: 'Text', rows: '5' %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.submit class: 'btn btn-default' %>
      </div>
    </div>
<% end %>