<%= link_to 'Back', articles_path, class: 'btn btn-default' %>

<div class="page-header">
  <h1 class="blog-post-title"><%= @article.title %></h1>
  <p class="article-action-links pull-right">
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Destroy', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} %>
  </p>
</div>

<%= @article.text %>

<h3>Comments</h3>
<%= render @article.comments %>

<h3>Add a comment:</h3>
<%= render 'comments/form' %>