<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>
<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 blog-main">
      <div>
        <p id="notice" class="bg-info"><%= flash[:notice] %></p>
        <p id="alert" class="bg-danger"><%= flash[:alert] %></p>
      </div>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
